<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-secuirty"
      layout:decorate="layout1">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="p-3" layout:fragment="content1">
        <div class="p-3" sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-primary" th:href="@{/admin/newProduct}">New Product</a>
        </div>
        <form method="get" th:action="@{/user/index}">
            <label>Keyword</label>
            <input type="text" name="keyword">
            <button class="btn btn-outline-info">Search</button>
        </form>
        <table class="table">
            <thead>
                <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th>
            </thead>
            <tbody>
                <tr th:each="p:${productsList}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.quantity}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <form method="post" th:action="@{/admin/delete(id=${p.id})}">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li th:each="page, status : ${pages}">
                <a th:class="${status.index == currentPage ? 'btn btn-info m-1' : 'btn btn-outline-info m-1'}" th:href="@{/user/index(page=${status.index})}" th:text="${status.index}"></a>
            </li>
        </ul>
    </div>
</body>
</html>